.bar-positive{
    background-color:#0c70a4!important;
    color:#FFFFFF!important;
    border-bottom:1px solid #0c70a4!important;
}
.main{
    background-color: #dbeaf1;
}
.alt{
	color:#a7cbde!important;
}
.alt2{
	color:#0c70a4!important;
}